.meaning-item:not(:last-child) {
  margin-bottom: 68px;
}

.definitions {
  display: flex;
}

.part-speech {
  min-width: 140px;
  font-weight: 700;
  margin-right: 38px;
}

.relation-words {
  display: flex;
  flex-direction: column;
  margin: 50px 0;
}
