.folder-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 50px;
}

.folder div {
  transition: all 80ms ease-in-out;
}

.folder div:hover {
  transform: translateY(-0.4rem);
}

.svg {
  display: block;
  vertical-align: middle;
}

.folder-name {
  position: relative;
  bottom: 16px;
  text-align: center;
  font-weight: 700;
}
