.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 50px;
}

.title {
  margin-bottom: 14px;
}

.title strong {
  font-weight: 700;
  font-size: 58px;
}

.pronounces {
}

.pronounce-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.pronounce-item:not(:last-child) {
  font-size: 16px;
  font-weight: 400;
  margin-right: 10px;
}

.header-right {
}

.save {
}

.svg {
  display: block;
  vertical-align: middle;
  fill: rgba(17, 17, 17, 0.32);
}

.svg-active {
  fill: #ffd760;
}

.result-main {
  padding: 56px 32px;
}

.definition {
}

.definition-list {
}
