.error {
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1.6px;
}

.search-result {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 50px;
}

.spinner:after {
  content: " ";
  display: block;
  width: 50px;
  height: 50px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 50px;
}

.title {
  margin-bottom: 14px;
}

.title strong {
  font-weight: 700;
  font-size: 58px;
}

.pronounces {
}

.pronounce-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.pronounce-item:not(:last-child) {
  font-size: 16px;
  font-weight: 400;
  margin-right: 10px;
}

.header-right {
}

.save {
  margin-right: 20px;
}

.svg {
  display: block;
  vertical-align: middle;
  fill: #545d68;
}

.svg-active {
  fill: #ffd760;
}

.result-main {
  padding: 56px 32px;
  margin: 0 20px;
}

.definition {
}

.definition-list {
}

.red {
  fill: #ff595e;
}

.yellow {
  fill: #ffca3a;
}

.green {
  fill: #8ac926;
}

.blue {
  fill: #1982c4;
}

.purple {
  fill: #6a4c93;
}
